@font-face {
    font-family: amd;
    src: url('/fonts/amd.otf');
}

#cabecera{
    background-color: white;
    color: #3297d1;
}
.navbar{
    margin-bottom:0px;

}

#inicio{
    background-image:url("/img/mano.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 570px;
}

#descripcion{
    margin-top: 200px;
    font-size: 35px;
    color: white;
    font-family: Klavika Medium;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
}
#espacio{
    background-color: #white;
    min-height: 10px;
    color: black;
    font-family: sans-serif;
}

#formulario{
    margin-top: 75px;

}

#contacto{
    background-image:url("/img/footer.jpg");
    min-height: 520px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}

#textoFooter {
    margin-top: 20px;
}

section {
    padding: 50px 0; }
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

#animado{
    text-align: center;
    min-height: 465px;
}
#animado img{
    display: block;
    width: 50%;
    margin: auto;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #3297d1 !important;
    white-space: nowrap;
}

